@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/variables';

@import 'base/base';
@import 'base/animation';
@import 'base/typography';

@import 'components/button';
@import 'compontents/progressBar';
@import 'components/card';
@import 'components/form';

@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';

@import 'pages/home';



	
	
	
	
	

