.header {
	position: fixed;
	top: -20rem;
	left:0;
	animation: showNav 1s 3s forwards;
	z-index: 1;
	width: 100%;
	padding:0 2rem;
	box-shadow: 0 1rem 2rem rgba($color-dark, .25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(256,256,256,.95);

	@include respond(phone) { //witdh < 600px
		flex-direction: column;
	}

	&__logo {
		font-family: 'Russo One', sans-serif;
		color: $color-primary;
		font-size: 3rem;
		padding: 0.5rem 4rem;
		background-image: linear-gradient(to right, $color-primary-dark, $color-secondary-dark);
		-webkit-background-clip: text;
		color: transparent;

		@include respond(tab-port) { //width < 900px
			font-size: 2.3rem;
		}
		
	}

	&__menu {
		flex-grow: 1;
	}
}


@keyframes showNav {
	100% {
		top: 0;
	}
}
