.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 40rem;
	min-width: 25%;
	display: inline-block;
	&__side {

		height: 40rem;
		width: 100%;
		transition: all 1s ease;
		position: absolute;
		top:0;
		left:0;
		backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-dark, .15);

		&--front {
			background-color: white;
			position: relative;
		}
		&--back {
			background-image: linear-gradient(135deg, $color-primary, $color-secondary);
			transform: rotateY(180deg);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&:hover &__side--front {
		transform: rotateY(180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	&__content {
		margin: 2rem 2rem 4rem 2rem;
		font-size: 2rem;
		text-align: center;
	}
}