.form {
	text-align: right;
	display: flex;
	flex-wrap: wrap;
	&__group {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
	}

	&__textarea {
		width: 100%;
		margin-bottom: 2rem;
	}
	&__submit {
		width: 95%;
		align-self: flex-end;
	}

	&__input, 
	&__textarea {
		font-size: 1.5rem;
		font-family: inherit;
		padding: 1.5rem 2rem;
		margin: 1rem 2rem;
		border-radius: 2px;
		background-color: white;
		box-shadow: 1rem 1rem 2rem rgba($color-dark, 0.1);
		border: none; 
		border-bottom: 3px solid transparent;
		display: block;
		transform: all .3s;
		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba($color-dark, .15);
			border-bottom: 3px solid $color-primary-dark;
		}
		&:focus:invalid {
			border-bottom: 3px solid $color-danger;
		}

	}

	&__label {
		text-align: left;
		font-size: 1.2rem;
		margin-left: 2rem;
		margin-top: .7rem;
		display: block;
		transition: all .3s;
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-5rem);
	}

}