body {
		font-family: "Lato", sans-serif;
		font-weight: 400;
		font-size: 2rem;
		line-height: 1.7;
		color: $color-dark;
		padding: 0 3rem;
		box-sizing: border-box;

		@include respond(tab-port) { //width < 900px
			font-size: 1.8rem;
			
		}
	
		@include respond(phone) { //witdh < 600px
			font-size: 1.5rem;
		
		}

		@include respond(phone-small) { //witdh < 360px
			font-size: 1.2rem;
		
		}
	}



.heading {
	text-transform: uppercase;
	font-size: 5rem;
	font-weight: 800;
	letter-spacing: 2px;
	background-image: linear-gradient(45deg, $color-primary-dark, $color-secondary-dark);
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 3rem;
	
	@include respond(tab-port) { //width < 900px
		font-size: 4rem;
		letter-spacing: 1.5px;
		margin-bottom: 2rem;
	}

	@include respond(phone) { //witdh < 600px
		font-size: 3rem;
		letter-spacing: 1px;
		margin-bottom: .5rem;
	}

	@include respond(phone-small) { //witdh < 360px
		font-size: 2rem;
		letter-spacing: .5px;
		margin-bottom: .2rem;
	}
}

.heading-secondary {
	font-size: 4rem;

	@include respond(tab-port) { //width < 900px
		font-size: 3rem;
		margin-bottom: 1.2rem;
	}

	@include respond(phone) { //witdh < 600px
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	@include respond(phone-small) { //witdh < 360px
		font-size: 1.5rem;
		margin-bottom: .5rem;
	}
}
