body {
		font-family: "Lato", sans-serif;
		font-weight: 400;
		font-size: 2rem;
		line-height: 1.7;
		color: $color-dark;
		padding: 3rem;
		box-sizing: border-box;
	}



.heading {
	text-transform: uppercase;
	font-size: 5rem;
	font-weight: 800;
	letter-spacing: 2px;
	background-image: linear-gradient(45deg, $color-primary-dark, $color-secondary-dark);
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 3rem;
}

.heading-secondary {
	font-size: 4rem;
}
