.home {
	padding-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	&__text {
		flex-basis: 50%;
	}

	&__social {
		display: flex;
		width: 50%;
		margin-top: 2rem;
		justify-content: space-around;
	

		& i {
			font-size: 4rem;
			color: $color-primary-dark;

			&:hover {
				color: $color-primary;
				cursor: pointer;
			}
		}
	}

	&__picture {
		& img {
			height: 650px;
			object-fit: cover;
		}
	}
}

.about {
	padding-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&__picture {
		
		flex-basis: 50%;
		align-self: flex-end;
		& img {
			height: 650px;
			object-fit: cover;
		}
	}
	&__text {
		flex-grow: 1;
		padding-right: 2rem;
	}

	&__describe {
		font-size: 1.8rem;
		padding: 2rem 0;
	}

	&__btn {
		margin: 3rem 0;
		text-align: center;
	}
}

.courses{
	&__title {
		margin: 6rem 0;
		text-align: center;
	}

	&__content {
		margin: 6rem 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	& img {
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		margin: auto auto;
		width: 75%;
	}
}

.portfolio {
		&__title {
			margin: 6rem 0;
			text-align: center;
		}
	
		&__content {
			margin: 6rem 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		
			a {
				width: 20%;
				margin-bottom: 5rem;	
			}

			img {
				width: 30%;
				visibility: hidden;
				box-shadow: 1.5rem 1.5rem 1rem rgba($color-dark, 0.15);
			}
		}

		&__item {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			& img {
				margin-bottom: 5rem;
			}
		}
	

		&__category-all:hover ~ &__item &__item-business{
			visibility: visible;
		}

		&__category-all:hover ~ &__item &__item-cars{
			visibility: visible;
		}

		&__category-all:hover ~ &__item &__item-design{
			visibility: visible;
		}

		&__category-business:hover ~ &__item &__item-business{
			visibility: visible;
			order: -1;
		}

		&__category-cars:hover ~ &__item &__item-cars{
			visibility: visible;
			order: -1;
		}
		&__category-design:hover ~ &__item &__item-design{
			visibility: visible;
			order: -1;
		}

}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}